.comunicados-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.comunicado-card {
  background: white;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 230px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comunicado-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.comunicado-card h3 {
  margin: 0 0 10px;
  font-size: 1.1em;
  color: #000000;
 
}

.comunicado-card p {
  font-size: 0.95em;
  color: #2e2e2e;
  margin-bottom: 12px;
  line-height: 1.5;
  
}

.fecha-comunicado {
  display: inline-block;
  font-size: 0.8em;
  background: #aa2c2c;
  padding: 4px 10px;
  border-radius: 8px;
  color: #ffffff;
  width: 50%;
  margin: auto;
}

.section{
    width: 80%;
    margin: auto;
}

section ,h2 , p{
   margin-bottom: 1rem;
}