
*{
   font-family: "Poppins", sans-serif !important;
}

.crear-asignacion {
  max-width: 600px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;

}

.crear-asignacion h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
  font-size: 22px;
}

.crear-asignacion .campo {
  margin-bottom: 15px;
}

.crear-asignacion label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #000000;
}

.crear-asignacion input,
.crear-asignacion textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s ease;
}

.crear-asignacion input:focus,
.crear-asignacion textarea:focus {
  border-color: #1abc9c;
  outline: none;
}

.btn-crear {
  width: 60%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #41338E;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: auto !important;
  display: block;
}



.btn-crear:hover {
  background: #E74543;
}

.mensaje {
  display: none;
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  background: #e8f5e9;
  color: #2e7d32;
  font-weight: 600;
  text-align: center;
}

body, html{
    background-color:#F9F9F9 ;
}
