

body,html{
   font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
     overflow: hidden; 
     padding: 0;
     margin: 0;
}

.section-login{
  width: 100%;
  height: 100%;
  background-image: url(Login-fondo.avif.avif);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.login-container{
    background-color: white;
   border-radius: .5rem;
    width: 30rem;
    height: 25rem;
   box-shadow: 0 0 .8rem white;   
}

@media(max-width: 768px){
   .section-login{
    background-image: url(fondo-login-vertical.avif);
   }

   .login-container{
    width: 65%;
   }
} 

@media(max-width:578px){
    .login-container{
    width: 85%;
   }
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h1{
    font-family: cursive;
    text-align: center;
    color: #3B60B1;
}

.login-container h2{
    text-align: center;
}

.login-form input{
    width: 70%;
    margin-bottom: 1.5rem;
    height: 2rem;
    border-radius: .5rem;
    outline: none;
    color: rgb(78, 78, 78);
    
}

.login-form label{
   width: 70%;
  font-weight: bold;
}

button{
    width: 50%;
    padding: .9rem;
    margin-bottom: .9rem;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
    background-color: #1A6180;
    color: white;
}

a{
    color: gray;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: black;

}
